groups:
  - name: sdn_load_balancing
    rules:
      - alert: Service2Overloaded
        expr: rate(container_network_receive_bytes_total{interface="s1-eth2"}[30s]) > 500
        for: 0s
        labels:
          severity: critical
        annotations:
          summary: "Switching traffic to d3"

      - alert: Service1Overloaded
        expr: rate(container_network_receive_bytes_total{interface="s1-eth1"}[30s]) > 500
        for: 0s
        labels:
          severity: critical
        annotations:
          summary: "Switching traffic to d2"
  
      - alert: Service3Overloaded
        expr: rate(container_network_receive_bytes_total{interface="s1-eth3"}[30s]) > 500
        for: 0s
        labels:
          severity: critical
        annotations:
          summary: "Switching traffic to d1"