groups:
  - name: sdn_load_balancing
    rules:
      - alert: ServiceOverloaded
        expr: rate(container_network_receive_bytes_total{interface="s1-eth2"}[30s]) > 50000
        for: 5s
        labels:
          severity: critical
        annotations:
          summary: "Switching traffic to d1"