global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'faucet'
    static_configs:
      - targets: ['localhost:9302']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['localhost:8081']

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - '172.17.0.1:9091'